<script lang="ts">
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Vincenzo Palazzo Home Page" />
</svelte:head>

<section>
	<div>
		<div
			variant="subtle"
			class="drac-box drac-card drac-card-subtle drac-border-orange drac-bg-pink drac-p-md drac-m-md"
		>
			<span class="drac-text drac-line-height drac-text-pink">
				<div class="container mx-auto">
					<h2 class="drac-heading drac-heading-xl drac-text-orange">Blogs</h2>
					<ul class="drac-list drac-list-unordered drac-list-purple">
						<li class="drac-text drac-text-white">
							<a
								href="https://blog.hedwing.dev/"
								class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
								>Personal Blog
							</a>
						</li>
					</ul>
				</div>
			</span>
		</div>
	</div>

	<div>
		<div
			variant="subtle"
			class="drac-box drac-card drac-card-subtle drac-border-orange drac-bg-pink drac-p-md drac-m-md"
		>
			<span class="drac-text drac-line-height drac-text-pink">
				<div class="container mx-auto">
					<h2 class="drac-heading drac-heading-xl drac-text-orange">Citation and Papers</h2>
					<ul class="drac-list drac-list-unordered drac-list-purple">
						<li class="drac-text drac-text-white">
							<a
								href="https://www.hou.usra.edu/meetings/lpsc2021/pdf/2696.pdf"
								class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
								><cite
									>Modernized Graphical User Interface for JMARS Application - Arizona State
									University 2021
								</cite>
							</a>
						</li>
						<li class="drac-text drac-text-white">
							<a
								href="https://www.hou.usra.edu/meetings/lpsc2021/pdf/2696.pdf"
								class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
								><cite
									>Improving JMARS data analysis and visualization with modernized and enhanced user
									interface. - Arizona State University 2023
								</cite>
							</a>
						</li>
					</ul>
				</div>
			</span>
		</div>
	</div>

	<div>
		<div
			variant="subtle"
			class="drac-box drac-card drac-card-subtle drac-border-pink drac-bg-pink drac-p-md drac-m-md"
		>
			<span class="drac-text drac-line-height drac-text-pink">
				<div class="container mx-auto">
					<h2 class="drac-heading drac-heading-xl drac-text-pink">Talks</h2>
					<ul class="drac-list drac-list-purple">
						<li class="drac-text drac-text-orange">Bitcoin & Lightning</li>
						<ul class="drac-list drac-list-unordered drac-list-purple">
							<li class="drac-text drac-text-white">
								<a
									href="https://brink-october2022-techtalk-8e6f0188j-vincenzopalazzo.vercel.app"
									class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
									>Brink Internal Tech Talk, October 2022
								</a>
							</li>
							<li>
								<a
									href="https://pisadev-write-async-runtime-rust.vercel.app"
									class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
									>Write an async runtime for rust 🦀, January 2023
								</a>
							</li>
						</ul>
					</ul>
				</div>
			</span>
		</div>
	</div>

	<div>
		<div
			variant="subtle"
			class="drac-box drac-card drac-card-subtle drac-border-orange drac-bg-pink drac-p-md drac-m-md"
		>
			<span class="drac-text drac-line-height drac-text-pink">
				<div class="container mx-auto">
					<h2 class="drac-heading drac-heading-xl drac-text-orange">Thesis</h2>
					<ul class="drac-list drac-list-unordered drac-list-purple">
						<li class="drac-text drac-text-white">
							<a
								href="https://github.com/LNOpenMetrics/thesis/releases/tag/v1.0.0"
								class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
								><cite
									>LNMetrics: an Open Source Framework to Collect Metrics on Lightning Network -
									University of Pisa 2023
								</cite>
							</a>
						</li>
						<li class="drac-text drac-text-white">
							<a
								href="https://github.com/vincenzopalazzo/SpyCBlockThesis/releases/tag/v0.2.5"
								class="drac-anchor drac-text drac-text-white drac-text-purple--hover"
								><cite
									>Estrazione di Informazioni dalla Blockchain di Bitcoin. - University of
									Basilicata 2019
								</cite>
							</a>
						</li>
					</ul>
				</div>
			</span>
		</div>
	</div>

	<br />
	<br />
	<div class="content-center">
		<blockquote class="twitter-tweet" data-lang="en" data-theme="dark">
			<p lang="en" dir="ltr">
				Working hard for something we don&#39;t care about is called stress; working hard for
				something we love is called passion.
			</p>
			&mdash; Simon Sinek (@simonsinek)
			<a href="https://twitter.com/simonsinek/status/174469085726375936?ref_src=twsrc%5Etfw"
				>February 28, 2012</a
			>
		</blockquote>

		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</section>

<style>
	.content-center {
		display: flex !important;
		justify-content: center !important;
	}
</style>
