@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
:root {
	--spacing-auto: auto;
	--spacing-xxs: 0.375rem;
	--spacing-xs: 0.5rem;
	--spacing-sm: 1rem;
	--spacing-md: 2rem;
	--spacing-lg: 4rem;
	--sizing-auto: auto;
	--sizing-none: none;
	--sizing-full: 100%;
	--sizing-xxs: 16rem;
	--sizing-xs: 20rem;
	--sizing-sm: 24rem;
	--sizing-md: 28rem;
	--sizing-lg: 32rem;
	--sizing-xl: 36rem;
	--sizing-2xl: 40rem;
	--sizing-3xl: 48rem;
	--sizing-4xl: 56rem;
	--sizing-5xl: 64rem;
	--sizing-6xl: 72rem;
	--sizing-7xl: 80rem;
	--sizing-8xl: 90rem;
	--glow-spacing-x: var(--spacing-md);
	--glow-spacing-y: var(--spacing-lg);
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-8: 2rem;
	--spacing-10: 2.5rem;
	--spacing-12: 3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-32: 8rem;
	--spacing-40: 10rem;
	--spacing-48: 12rem;
	--spacing-56: 14rem;
	--spacing-64: 16rem;
}
.drac-box {
	box-sizing: border-box;
}
.drac-box h1,
.drac-box h2,
.drac-box h3,
.drac-box h4 {
	margin: 0;
}
.drac-p-none {
	padding: var(--spacing-none);
}
.drac-px-none {
	padding-left: var(--spacing-none);
	padding-right: var(--spacing-none);
}
.drac-py-none {
	padding-bottom: var(--spacing-none);
	padding-top: var(--spacing-none);
}
.drac-pl-none {
	padding-left: var(--spacing-none);
}
.drac-pr-none {
	padding-right: var(--spacing-none);
}
.drac-pt-none {
	padding-top: var(--spacing-none);
}
.drac-pb-none {
	padding-bottom: var(--spacing-none);
}
.drac-p-xxs {
	padding: var(--spacing-xxs);
}
.drac-px-xxs {
	padding-left: var(--spacing-xxs);
	padding-right: var(--spacing-xxs);
}
.drac-py-xxs {
	padding-bottom: var(--spacing-xxs);
	padding-top: var(--spacing-xxs);
}
.drac-pl-xxs {
	padding-left: var(--spacing-xxs);
}
.drac-pr-xxs {
	padding-right: var(--spacing-xxs);
}
.drac-pt-xxs {
	padding-top: var(--spacing-xxs);
}
.drac-pb-xxs {
	padding-bottom: var(--spacing-xxs);
}
.drac-p-xs {
	padding: var(--spacing-xs);
}
.drac-px-xs {
	padding-left: var(--spacing-xs);
	padding-right: var(--spacing-xs);
}
.drac-py-xs {
	padding-bottom: var(--spacing-xs);
	padding-top: var(--spacing-xs);
}
.drac-pl-xs {
	padding-left: var(--spacing-xs);
}
.drac-pr-xs {
	padding-right: var(--spacing-xs);
}
.drac-pt-xs {
	padding-top: var(--spacing-xs);
}
.drac-pb-xs {
	padding-bottom: var(--spacing-xs);
}
.drac-p-sm {
	padding: var(--spacing-sm);
}
.drac-px-sm {
	padding-left: var(--spacing-sm);
	padding-right: var(--spacing-sm);
}
.drac-py-sm {
	padding-bottom: var(--spacing-sm);
	padding-top: var(--spacing-sm);
}
.drac-pl-sm {
	padding-left: var(--spacing-sm);
}
.drac-pr-sm {
	padding-right: var(--spacing-sm);
}
.drac-pt-sm {
	padding-top: var(--spacing-sm);
}
.drac-pb-sm {
	padding-bottom: var(--spacing-sm);
}
.drac-p-md {
	padding: var(--spacing-md);
}
.drac-px-md {
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
}
.drac-py-md {
	padding-bottom: var(--spacing-md);
	padding-top: var(--spacing-md);
}
.drac-pl-md {
	padding-left: var(--spacing-md);
}
.drac-pr-md {
	padding-right: var(--spacing-md);
}
.drac-pt-md {
	padding-top: var(--spacing-md);
}
.drac-pb-md {
	padding-bottom: var(--spacing-md);
}
.drac-p-lg {
	padding: var(--spacing-lg);
}
.drac-px-lg {
	padding-left: var(--spacing-lg);
	padding-right: var(--spacing-lg);
}
.drac-py-lg {
	padding-bottom: var(--spacing-lg);
	padding-top: var(--spacing-lg);
}
.drac-pl-lg {
	padding-left: var(--spacing-lg);
}
.drac-pr-lg {
	padding-right: var(--spacing-lg);
}
.drac-pt-lg {
	padding-top: var(--spacing-lg);
}
.drac-pb-lg {
	padding-bottom: var(--spacing-lg);
}
.drac-m-auto {
	margin: var(--spacing-auto);
}
.drac-mx-auto {
	margin-left: var(--spacing-auto);
	margin-right: var(--spacing-auto);
}
.drac-my-auto {
	margin-bottom: var(--spacing-auto);
	margin-top: var(--spacing-auto);
}
.drac-ml-auto {
	margin-left: var(--spacing-auto);
}
.drac-mr-auto {
	margin-right: var(--spacing-auto);
}
.drac-mt-auto {
	margin-top: var(--spacing-auto);
}
.drac-mb-auto {
	margin-bottom: var(--spacing-auto);
}
.drac-m-none {
	margin: var(--spacing-none);
}
.drac-mx-none {
	margin-left: var(--spacing-none);
	margin-right: var(--spacing-none);
}
.drac-my-none {
	margin-bottom: var(--spacing-none);
	margin-top: var(--spacing-none);
}
.drac-ml-none {
	margin-left: var(--spacing-none);
}
.drac-mr-none {
	margin-right: var(--spacing-none);
}
.drac-mt-none {
	margin-top: var(--spacing-none);
}
.drac-mb-none {
	margin-bottom: var(--spacing-none);
}
.drac-m-xxs {
	margin: var(--spacing-xxs);
}
.drac-mx-xxs {
	margin-left: var(--spacing-xxs);
	margin-right: var(--spacing-xxs);
}
.drac-my-xxs {
	margin-bottom: var(--spacing-xxs);
	margin-top: var(--spacing-xxs);
}
.drac-ml-xxs {
	margin-left: var(--spacing-xxs);
}
.drac-mr-xxs {
	margin-right: var(--spacing-xxs);
}
.drac-mt-xxs {
	margin-top: var(--spacing-xxs);
}
.drac-mb-xxs {
	margin-bottom: var(--spacing-xxs);
}
.drac-m-xs {
	margin: var(--spacing-xs);
}
.drac-mx-xs {
	margin-left: var(--spacing-xs);
	margin-right: var(--spacing-xs);
}
.drac-my-xs {
	margin-bottom: var(--spacing-xs);
	margin-top: var(--spacing-xs);
}
.drac-ml-xs {
	margin-left: var(--spacing-xs);
}
.drac-mr-xs {
	margin-right: var(--spacing-xs);
}
.drac-mt-xs {
	margin-top: var(--spacing-xs);
}
.drac-mb-xs {
	margin-bottom: var(--spacing-xs);
}
.drac-m-sm {
	margin: var(--spacing-sm);
}
.drac-mx-sm {
	margin-left: var(--spacing-sm);
	margin-right: var(--spacing-sm);
}
.drac-my-sm {
	margin-bottom: var(--spacing-sm);
	margin-top: var(--spacing-sm);
}
.drac-ml-sm {
	margin-left: var(--spacing-sm);
}
.drac-mr-sm {
	margin-right: var(--spacing-sm);
}
.drac-mt-sm {
	margin-top: var(--spacing-sm);
}
.drac-mb-sm {
	margin-bottom: var(--spacing-sm);
}
.drac-m-md {
	margin: var(--spacing-md);
}
.drac-mx-md {
	margin-left: var(--spacing-md);
	margin-right: var(--spacing-md);
}
.drac-my-md {
	margin-bottom: var(--spacing-md);
	margin-top: var(--spacing-md);
}
.drac-ml-md {
	margin-left: var(--spacing-md);
}
.drac-mr-md {
	margin-right: var(--spacing-md);
}
.drac-mt-md {
	margin-top: var(--spacing-md);
}
.drac-mb-md {
	margin-bottom: var(--spacing-md);
}
.drac-m-lg {
	margin: var(--spacing-lg);
}
.drac-mx-lg {
	margin-left: var(--spacing-lg);
	margin-right: var(--spacing-lg);
}
.drac-my-lg {
	margin-bottom: var(--spacing-lg);
	margin-top: var(--spacing-lg);
}
.drac-ml-lg {
	margin-left: var(--spacing-lg);
}
.drac-mr-lg {
	margin-right: var(--spacing-lg);
}
.drac-mt-lg {
	margin-top: var(--spacing-lg);
}
.drac-mb-lg {
	margin-bottom: var(--spacing-lg);
}
.drac-h-auto {
	height: var(--sizing-auto);
}
.drac-w-auto {
	width: var(--sizing-auto);
}
.drac-h-none {
	height: var(--sizing-none);
}
.drac-w-none {
	width: var(--sizing-none);
}
.drac-h-full {
	height: var(--sizing-full);
}
.drac-w-full {
	width: var(--sizing-full);
}
.drac-h-xxs {
	height: var(--sizing-xxs);
}
.drac-w-xxs {
	width: var(--sizing-xxs);
}
.drac-h-xs {
	height: var(--sizing-xs);
}
.drac-w-xs {
	width: var(--sizing-xs);
}
.drac-h-sm {
	height: var(--sizing-sm);
}
.drac-w-sm {
	width: var(--sizing-sm);
}
.drac-h-md {
	height: var(--sizing-md);
}
.drac-w-md {
	width: var(--sizing-md);
}
.drac-h-lg {
	height: var(--sizing-lg);
}
.drac-w-lg {
	width: var(--sizing-lg);
}
.drac-h-xl {
	height: var(--sizing-xl);
}
.drac-w-xl {
	width: var(--sizing-xl);
}
.drac-h-2xl {
	height: var(--sizing-2xl);
}
.drac-w-2xl {
	width: var(--sizing-2xl);
}
.drac-h-3xl {
	height: var(--sizing-3xl);
}
.drac-w-3xl {
	width: var(--sizing-3xl);
}
.drac-h-4xl {
	height: var(--sizing-4xl);
}
.drac-w-4xl {
	width: var(--sizing-4xl);
}
.drac-h-5xl {
	height: var(--sizing-5xl);
}
.drac-w-5xl {
	width: var(--sizing-5xl);
}
.drac-h-6xl {
	height: var(--sizing-6xl);
}
.drac-w-6xl {
	width: var(--sizing-6xl);
}
.drac-h-7xl {
	height: var(--sizing-7xl);
}
.drac-w-7xl {
	width: var(--sizing-7xl);
}
.drac-h-8xl {
	height: var(--sizing-8xl);
}
.drac-w-8xl {
	width: var(--sizing-8xl);
}
:root {
	--black: #21222c;
	--blackSecondary: #414558;
	--blackTernary: #a7abbe;
	--blackLight: rgba(33, 34, 44, 0.05);
	--grey: #414558;
	--greySecondary: #626784;
	--greyTernary: #b6b9c9;
	--greyLight: rgba(65, 69, 88, 0.05);
	--white: #f8f8f2;
	--whiteSecondary: #fff;
	--whiteLight: hsla(60, 30%, 96%, 0.05);
	--cyan: #80ffea;
	--cyanSecondary: #ccfff6;
	--cyanLight: rgba(128, 255, 234, 0.05);
	--green: #8aff80;
	--greenSecondary: #d0ffcc;
	--greenLight: rgba(138, 255, 128, 0.05);
	--orange: #ffca80;
	--orangeSecondary: #ffeacc;
	--orangeLight: rgba(255, 202, 128, 0.05);
	--pink: #ff80bf;
	--pinkSecondary: #ffcce6;
	--pinkLight: rgba(255, 128, 191, 0.05);
	--purple: #9580ff;
	--purpleSecondary: #d4ccff;
	--purpleLight: rgba(149, 128, 255, 0.05);
	--red: #ff9580;
	--redSecondary: #ffd4cc;
	--redLight: rgba(255, 149, 128, 0.05);
	--yellow: #ffff80;
	--yellowSecondary: #ffc;
	--yellowLight: rgba(255, 255, 128, 0.05);
	--cyan-transparent: rgba(128, 255, 234, 0.1);
	--green-transparent: rgba(138, 255, 128, 0.1);
	--orange-transparent: rgba(255, 202, 128, 0.1);
	--pink-transparent: rgba(255, 128, 191, 0.1);
	--purple-transparent: rgba(149, 128, 255, 0.1);
	--red-transparent: rgba(255, 149, 128, 0.1);
	--yellow-transparent: rgba(255, 255, 128, 0.1);
	--disabled: #6c7393;
	--gradientDegree: 135deg;
	--glowColor: hsla(0, 0%, 100%, 0.25);
	--cyan-100: rgba(128, 255, 234, 0.1);
	--green-100: rgba(138, 255, 128, 0.1);
	--orange-100: rgba(255, 202, 128, 0.1);
	--pink-100: rgba(255, 128, 191, 0.1);
	--purple-100: rgba(149, 128, 255, 0.1);
	--red-100: rgba(255, 149, 128, 0.1);
	--yellow-100: rgba(255, 255, 128, 0.1);
	--cyan-200: rgba(128, 255, 234, 0.2);
	--green-200: rgba(138, 255, 128, 0.2);
	--orange-200: rgba(255, 202, 128, 0.2);
	--pink-200: rgba(255, 128, 191, 0.2);
	--purple-200: rgba(149, 128, 255, 0.2);
	--red-200: rgba(255, 149, 128, 0.2);
	--yellow-200: rgba(255, 255, 128, 0.2);
	--cyan-300: rgba(128, 255, 234, 0.3);
	--green-300: rgba(138, 255, 128, 0.3);
	--orange-300: rgba(255, 202, 128, 0.3);
	--pink-300: rgba(255, 128, 191, 0.3);
	--purple-300: rgba(149, 128, 255, 0.3);
	--red-300: rgba(255, 149, 128, 0.3);
	--yellow-300: rgba(255, 255, 128, 0.3);
	--cyan-400: rgba(128, 255, 234, 0.4);
	--green-400: rgba(138, 255, 128, 0.4);
	--orange-400: rgba(255, 202, 128, 0.4);
	--pink-400: rgba(255, 128, 191, 0.4);
	--purple-400: rgba(149, 128, 255, 0.4);
	--red-400: rgba(255, 149, 128, 0.4);
	--yellow-400: rgba(255, 255, 128, 0.4);
	--cyan-500: rgba(128, 255, 234, 0.5);
	--green-500: rgba(138, 255, 128, 0.5);
	--orange-500: rgba(255, 202, 128, 0.5);
	--pink-500: rgba(255, 128, 191, 0.5);
	--purple-500: rgba(149, 128, 255, 0.5);
	--red-500: rgba(255, 149, 128, 0.5);
	--yellow-500: rgba(255, 255, 128, 0.5);
	--cyan-600: rgba(128, 255, 234, 0.6);
	--green-600: rgba(138, 255, 128, 0.6);
	--orange-600: rgba(255, 202, 128, 0.6);
	--pink-600: rgba(255, 128, 191, 0.6);
	--purple-600: rgba(149, 128, 255, 0.6);
	--red-600: rgba(255, 149, 128, 0.6);
	--yellow-600: rgba(255, 255, 128, 0.6);
	--cyan-700: rgba(128, 255, 234, 0.7);
	--green-700: rgba(138, 255, 128, 0.7);
	--orange-700: rgba(255, 202, 128, 0.7);
	--pink-700: rgba(255, 128, 191, 0.7);
	--purple-700: rgba(149, 128, 255, 0.7);
	--red-700: rgba(255, 149, 128, 0.7);
	--yellow-700: rgba(255, 255, 128, 0.7);
	--cyan-800: rgba(128, 255, 234, 0.8);
	--green-800: rgba(138, 255, 128, 0.8);
	--orange-800: rgba(255, 202, 128, 0.8);
	--pink-800: rgba(255, 128, 191, 0.8);
	--purple-800: rgba(149, 128, 255, 0.8);
	--red-800: rgba(255, 149, 128, 0.8);
	--yellow-800: rgba(255, 255, 128, 0.8);
	--cyan-900: rgba(128, 255, 234, 0.9);
	--green-900: rgba(138, 255, 128, 0.9);
	--orange-900: rgba(255, 202, 128, 0.9);
	--pink-900: rgba(255, 128, 191, 0.9);
	--purple-900: rgba(149, 128, 255, 0.9);
	--red-900: rgba(255, 149, 128, 0.9);
	--yellow-900: rgba(255, 255, 128, 0.9);
	--accentColor: var(--purple);
	--purple-cyan: linear-gradient(var(--gradientDegree), var(--purple) 0%, var(--cyan) 100%);
	--yellow-pink: linear-gradient(var(--gradientDegree), var(--yellow) 0%, var(--pink) 100%);
	--cyan-green: linear-gradient(var(--gradientDegree), var(--cyan) 0%, var(--green) 100%);
	--pink-purple: linear-gradient(var(--gradientDegree), var(--pink) 0%, var(--purple) 100%);
}
.drac-bg-purple-cyan {
	background: linear-gradient(var(--gradientDegree), var(--purple) 0, var(--cyan) 100%);
}
.drac-bg-purple-cyan-transparent {
	background: linear-gradient(
		var(--gradientDegree),
		var(--purple-transparent) 0,
		var(--cyan-transparent) 100%
	);
}
.drac-text-purple-cyan {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-image: linear-gradient(var(--gradientDegree), var(--purple) 0, var(--cyan) 100%);
	background-size: 100%;
	-webkit-box-decoration-break: clone;
}
.drac-bg-yellow-pink {
	background: linear-gradient(var(--gradientDegree), var(--yellow) 0, var(--pink) 100%);
}
.drac-bg-yellow-pink-transparent {
	background: linear-gradient(
		var(--gradientDegree),
		var(--yellow-transparent) 0,
		var(--pink-transparent) 100%
	);
}
.drac-text-yellow-pink {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-image: linear-gradient(var(--gradientDegree), var(--yellow) 0, var(--pink) 100%);
	background-size: 100%;
	-webkit-box-decoration-break: clone;
}
.drac-bg-cyan-green {
	background: linear-gradient(var(--gradientDegree), var(--cyan) 0, var(--green) 100%);
}
.drac-bg-cyan-green-transparent {
	background: linear-gradient(
		var(--gradientDegree),
		var(--cyan-transparent) 0,
		var(--green-transparent) 100%
	);
}
.drac-text-cyan-green {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-image: linear-gradient(var(--gradientDegree), var(--cyan) 0, var(--green) 100%);
	background-size: 100%;
	-webkit-box-decoration-break: clone;
}
.drac-bg-pink-purple {
	background: linear-gradient(var(--gradientDegree), var(--pink) 0, var(--purple) 100%);
}
.drac-bg-pink-purple-transparent {
	background: linear-gradient(
		var(--gradientDegree),
		var(--pink-transparent) 0,
		var(--purple-transparent) 100%
	);
}
.drac-text-pink-purple {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-image: linear-gradient(var(--gradientDegree), var(--pink) 0, var(--purple) 100%);
	background-size: 100%;
	-webkit-box-decoration-break: clone;
}
.drac-bg-black {
	background-color: var(--black);
}
.drac-bg-black-secondary {
	--accentColor: var(--blackSecondary);
	background-color: var(--blackSecondary);
}
.drac-bg-black-transparent {
	--accentColor: var(--black-transparent);
	background-color: var(--black-transparent);
}
.drac-text-black {
	color: var(--black);
}
.drac-text-black-secondary {
	color: var(--blackSecondary);
}
.drac-glow-black {
	--glowColor: var(--black);
	background-color: var(--black);
}
.drac-border-black {
	--borderColor: var(--black);
}
.drac-bg-grey {
	background-color: var(--grey);
}
.drac-bg-grey-secondary {
	--accentColor: var(--greySecondary);
	background-color: var(--greySecondary);
}
.drac-bg-grey-transparent {
	--accentColor: var(--grey-transparent);
	background-color: var(--grey-transparent);
}
.drac-text-grey {
	color: var(--grey);
}
.drac-text-grey-secondary {
	color: var(--greySecondary);
}
.drac-glow-grey {
	--glowColor: var(--grey);
	background-color: var(--grey);
}
.drac-border-grey {
	--borderColor: var(--grey);
	border-color: var(--grey);
}
.drac-bg-white {
	background-color: var(--white);
}
.drac-bg-white-secondary {
	--accentColor: var(--whiteSecondary);
	background-color: var(--whiteSecondary);
}
.drac-bg-white-transparent {
	--accentColor: var(--white-transparent);
	background-color: var(--white-transparent);
}
.drac-text-white {
	color: var(--white);
}
.drac-text-white-secondary {
	color: var(--whiteSecondary);
}
.drac-glow-white {
	--glowColor: var(--white);
	background-color: var(--white);
}
.drac-border-white {
	--borderColor: var(--white);
}
.drac-bg-cyan {
	background-color: var(--cyan);
}
.drac-bg-cyan-secondary {
	--accentColor: var(--cyanSecondary);
	background-color: var(--cyanSecondary);
}
.drac-bg-cyan-transparent {
	--accentColor: var(--cyan-transparent);
	background-color: var(--cyan-transparent);
}
.drac-text-cyan {
	color: var(--cyan);
}
.drac-text-cyan-secondary {
	color: var(--cyanSecondary);
}
.drac-glow-cyan {
	--glowColor: var(--cyan);
	background-color: var(--cyan);
}
.drac-border-cyan {
	--borderColor: var(--cyan);
}
.drac-bg-green {
	background-color: var(--green);
}
.drac-bg-green-secondary {
	--accentColor: var(--greenSecondary);
	background-color: var(--greenSecondary);
}
.drac-bg-green-transparent {
	--accentColor: var(--green-transparent);
	background-color: var(--green-transparent);
}
.drac-text-green {
	color: var(--green);
}
.drac-text-green-secondary {
	color: var(--greenSecondary);
}
.drac-glow-green {
	--glowColor: var(--green);
	background-color: var(--green);
}
.drac-border-green {
	--borderColor: var(--green);
}
.drac-bg-orange {
	background-color: var(--orange);
}
.drac-bg-orange-secondary {
	--accentColor: var(--orangeSecondary);
	background-color: var(--orangeSecondary);
}
.drac-bg-orange-transparent {
	--accentColor: var(--orange-transparent);
	background-color: var(--orange-transparent);
}
.drac-text-orange {
	color: var(--orange);
}
.drac-text-orange-secondary {
	color: var(--orangeSecondary);
}
.drac-glow-orange {
	--glowColor: var(--orange);
	background-color: var(--orange);
}
.drac-border-orange {
	--borderColor: var(--orange);
}
.drac-bg-pink {
	background-color: var(--pink);
}
.drac-bg-pink-secondary {
	--accentColor: var(--pinkSecondary);
	background-color: var(--pinkSecondary);
}
.drac-bg-pink-transparent {
	--accentColor: var(--pink-transparent);
	background-color: var(--pink-transparent);
}
.drac-text-pink {
	color: var(--pink);
}
.drac-text-pink-secondary {
	color: var(--pinkSecondary);
}
.drac-glow-pink {
	--glowColor: var(--pink);
	background-color: var(--pink);
}
.drac-border-pink {
	--borderColor: var(--pink);
}
.drac-bg-purple {
	background-color: var(--purple);
}
.drac-bg-purple-secondary {
	--accentColor: var(--purpleSecondary);
	background-color: var(--purpleSecondary);
}
.drac-bg-purple-transparent {
	--accentColor: var(--purple-transparent);
	background-color: var(--purple-transparent);
}
.drac-text-purple {
	color: var(--purple);
}
.drac-text-purple-secondary {
	color: var(--purpleSecondary);
}
.drac-glow-purple {
	--glowColor: var(--purple);
	background-color: var(--purple);
}
.drac-border-purple {
	--borderColor: var(--purple);
}
.drac-bg-red {
	background-color: var(--red);
}
.drac-bg-red-secondary {
	--accentColor: var(--redSecondary);
	background-color: var(--redSecondary);
}
.drac-bg-red-transparent {
	--accentColor: var(--red-transparent);
	background-color: var(--red-transparent);
}
.drac-text-red {
	color: var(--red);
}
.drac-text-red-secondary {
	color: var(--redSecondary);
}
.drac-glow-red {
	--glowColor: var(--red);
	background-color: var(--red);
}
.drac-border-red {
	--borderColor: var(--red);
}
.drac-bg-yellow {
	background-color: var(--yellow);
}
.drac-bg-yellow-secondary {
	--accentColor: var(--yellowSecondary);
	background-color: var(--yellowSecondary);
}
.drac-bg-yellow-transparent {
	--accentColor: var(--yellow-transparent);
	background-color: var(--yellow-transparent);
}
.drac-text-yellow {
	color: var(--yellow);
}
.drac-text-yellow-secondary {
	color: var(--yellowSecondary);
}
.drac-glow-yellow {
	--glowColor: var(--yellow);
	background-color: var(--yellow);
}
.drac-border-yellow {
	--borderColor: var(--yellow);
}
.drac-bg-animated {
	animation: animatedGradient 6s ease infinite alternate;
	background-image: linear-gradient(
		var(--gradientDegree),
		var(--orange),
		var(--yellow),
		var(--red),
		var(--pink),
		var(--purple),
		var(--cyan),
		var(--green)
	);
	background-size: 300% 300%;
	content: '';
}
@keyframes animatedGradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	to {
		background-position: 0 50%;
	}
}
:root {
	--border-size: 0.1rem;
	--rounded-none: 0;
	--rounded-sm: 0.125rem;
	--rounded: 0.25rem;
	--rounded-md: 0.375rem;
	--rounded-lg: 0.5rem;
	--rounded-xl: 0.75rem;
	--rounded-2xl: 1rem;
	--rounded-3xl: 1.5rem;
	--rounded-full: 9999px;
}
.drac-border-black {
	border-color: var(--black);
}
.drac-border-white {
	border-color: var(--white);
}
.drac-border-cyan {
	border-color: var(--cyan);
}
.drac-border-green {
	border-color: var(--green);
}
.drac-border-orange {
	border-color: var(--orange);
}
.drac-border-pink {
	border-color: var(--pink);
}
.drac-border-purple {
	border-color: var(--purple);
}
.drac-border-red {
	border-color: var(--red);
}
.drac-border-yellow {
	border-color: var(--yellow);
}
.drac-rounded-none {
	border-radius: var(--rounded-none);
}
.drac-rounded-sm {
	border-radius: var(--rounded-sm);
}
.drac-rounded {
	border-radius: var(--rounded);
}
.drac-rounded-md {
	border-radius: var(--rounded-md);
}
.drac-rounded-lg {
	border-radius: var(--rounded-lg);
}
.drac-rounded-xl {
	border-radius: var(--rounded-xl);
}
.drac-rounded-2xl {
	border-radius: var(--rounded-2xl);
}
.drac-rounded-3xl {
	border-radius: var(--rounded-3xl);
}
.drac-rounded-full {
	border-radius: var(--rounded-full);
}
:root {
	--display-none: none;
	--display-block: block;
	--display-flex: flex;
	--display-grid: grid;
	--display-table: table;
	--display-inline: inline;
	--display-inline-block: inline-block;
	--display-inline-flex: inline-flex;
	--display-inline-grid: inline-grid;
	--display-inline-table: inline-table;
}
.drac-d-none {
	display: var(--display-none);
}
.drac-d-block {
	display: var(--display-block);
}
.drac-d-flex {
	display: var(--display-flex);
}
.drac-d-grid {
	display: var(--display-grid);
}
.drac-d-table {
	display: var(--display-table);
}
.drac-d-inline {
	display: var(--display-inline);
}
.drac-d-inline-block {
	display: var(--display-inline-block);
}
.drac-d-inline-flex {
	display: var(--display-inline-flex);
}
.drac-d-inline-grid {
	display: var(--display-inline-grid);
}
.drac-d-inline-table {
	display: var(--display-inline-table);
}
:root {
	--font-xs: 0.75rem;
	--font-sm: 0.875rem;
	--font-md: 1rem;
	--font-lg: 1.125rem;
	--font-xl: 1.25rem;
	--font-2xl: 1.5rem;
	--font-3xl: 1.875rem;
	--font-4xl: 2.25rem;
	--font-5xl: 3rem;
	--font-6xl: 4rem;
	--line-height-xs: 1;
	--line-height-sm: 1.25;
	--line-height-md: 1.375;
	--line-height-lg: 1.5;
	--line-height-xl: 1.625;
	--line-height-2xl: 2;
}
.drac-btn,
.drac-heading,
.drac-input,
.drac-select,
.drac-text {
	font-family: Fira Code, monospace;
}
.drac-heading {
	margin: 0;
}
code {
	background: var(--purple-100);
	border-radius: var(--rounded-sm);
	color: var(--purple-900);
	font-family: Fira Code, monospace;
	padding: 0.1rem 0.3rem;
}
.drac-heading {
	font-size: var(--font-lg);
}
.drac-heading-2xl {
	font-size: var(--font-5xl);
}
.drac-heading-xl {
	font-size: var(--font-2xl);
}
.drac-heading-lg {
	font-size: var(--font-xl);
}
.drac-heading-sm {
	font-size: var(--font-md);
}
.drac-heading-xs {
	font-size: var(--font-sm);
}
.drac-text-bold {
	font-weight: 700;
}
.drac-text-semibold {
	font-weight: 600;
}
.drac-text {
	font-size: var(--font-md);
}
.drac-text.drac-text-lg {
	font-size: var(--font-lg);
}
.drac-text.drac-text-sm {
	font-size: var(--font-sm);
}
.drac-text.drac-text-xs {
	font-size: var(--font-xs);
}
.drac-line-height {
	line-height: var(--line-height-md);
}
.drac-line-height-2xl {
	line-height: var(--line-height-2xl);
}
.drac-line-height-xl {
	line-height: var(--line-height-xl);
}
.drac-line-height-lg {
	line-height: var(--line-height-lg);
}
.drac-line-height-sm {
	line-height: var(--line-height-sm);
}
.drac-line-height-xs {
	line-height: var(--line-height-xs);
}
.drac-text-left {
	text-align: left;
}
.drac-text-center {
	text-align: center;
}
.drac-text-right {
	text-align: right;
}
.drac-text-justify {
	text-align: justify;
}
.drac-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: var(--rounded-lg);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.drac-btn:active,
.drac-btn:focus {
	box-shadow: inset -4px -4px 1px hsla(0, 0%, 100%, 0.3);
	opacity: 0.75;
	outline: 0;
}
.drac-btn:disabled {
	background-color: var(--disabled);
	color: var(--black);
	cursor: not-allowed;
}
.drac-btn:not(:disabled):hover {
	box-shadow: 4px 4px hsla(0, 0%, 100%, 0.1);
	opacity: 0.75;
}
.drac-btn:not(:disabled):disabled:hover {
	box-shadow: none;
}
.drac-btn-outline {
	background-color: transparent;
	border-style: solid;
	border-width: var(--border-size);
}
.drac-btn-outline:disabled {
	background-color: transparent;
	border-color: var(--disabled);
	color: var(--disabled);
}
.drac-btn-outline:disabled .drac-text {
	color: var(--disabled);
}
.drac-btn-ghost:active,
.drac-btn-ghost:focus,
.drac-btn-ghost:not(:disabled):hover {
	background-color: hsla(0, 0%, 100%, 0.1);
	box-shadow: none;
}
.drac-btn-ghost:disabled {
	background-color: var(--disabled);
	color: var(--black);
}
.drac-btn-ghost:disabled .drac-text {
	color: var(--black);
}
.drac-btn.drac-btn-xs {
	font-size: var(--font-xs);
	height: var(--spacing-6);
	line-height: var(--spacing-6);
	min-width: var(--spacing-6);
	padding: 0 var(--spacing-2);
}
.drac-btn.drac-btn-sm {
	font-size: var(--font-sm);
	height: var(--spacing-8);
	line-height: var(--spacing-8);
	min-width: var(--spacing-8);
	padding: 0 var(--spacing-3);
}
.drac-btn {
	font-size: var(--font-md);
	height: var(--spacing-10);
	line-height: var(--spacing-10);
	min-width: var(--spacing-10);
	padding: 0 var(--spacing-4);
}
.drac-btn.drac-btn-lg {
	font-size: var(--font-lg);
	height: var(--spacing-12);
	line-height: var(--spacing-12);
	min-width: var(--spacing-12);
	padding: 0 var(--spacing-6);
}
.drac-badge {
	background-color: var(--accentColor);
	border: none;
	border-radius: var(--rounded-lg);
	padding: 1rem 1.5rem;
}
.drac-badge,
.drac-badge .drac-text {
	text-transform: uppercase;
}
.drac-badge-outline,
.drac-badge-subtle {
	border-style: solid;
	border-width: var(--border-size);
}
.drac-badge-outline {
	background-color: transparent;
}
.drac-input {
	-webkit-appearance: textfield;
	background: var(--blackSecondary);
	border: 0.3rem solid transparent;
	border-radius: var(--rounded-lg);
	box-sizing: border-box;
	outline: none;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.drac-input:focus {
	border-color: var(--white);
}
.drac-input::-moz-placeholder {
	color: var(--blackTernary);
}
.drac-input::placeholder {
	color: var(--blackTernary);
}
.drac-input-outline {
	background: transparent;
	border-color: var(--blackTernary);
}
.drac-input-outline.drac-input-black,
.drac-input-outline.drac-input-black:focus,
.drac-input.drac-input-black:focus {
	border-color: var(--black);
}
.drac-input-outline.drac-input-blackSecondary,
.drac-input-outline.drac-input-blackSecondary:focus,
.drac-input.drac-input-blackSecondary:focus {
	border-color: var(--blackSecondary);
}
.drac-input-outline.drac-input-white,
.drac-input-outline.drac-input-white:focus,
.drac-input.drac-input-white:focus {
	border-color: var(--white);
}
.drac-input-outline.drac-input-cyan,
.drac-input-outline.drac-input-cyan:focus,
.drac-input.drac-input-cyan:focus {
	border-color: var(--cyan);
}
.drac-input-outline.drac-input-green,
.drac-input-outline.drac-input-green:focus,
.drac-input.drac-input-green:focus {
	border-color: var(--green);
}
.drac-input-outline.drac-input-orange,
.drac-input-outline.drac-input-orange:focus,
.drac-input.drac-input-orange:focus {
	border-color: var(--orange);
}
.drac-input-outline.drac-input-pink,
.drac-input-outline.drac-input-pink:focus,
.drac-input.drac-input-pink:focus {
	border-color: var(--pink);
}
.drac-input-outline.drac-input-purple,
.drac-input-outline.drac-input-purple:focus,
.drac-input.drac-input-purple:focus {
	border-color: var(--purple);
}
.drac-input-outline.drac-input-red,
.drac-input-outline.drac-input-red:focus,
.drac-input.drac-input-red:focus {
	border-color: var(--red);
}
.drac-input-outline.drac-input-yellow,
.drac-input-outline.drac-input-yellow:focus,
.drac-input.drac-input-yellow:focus {
	border-color: var(--yellow);
}
.drac-input.drac-input-sm {
	font-size: var(--font-sm);
	height: var(--spacing-8);
	padding: 0 var(--spacing-3);
}
.drac-input {
	font-size: var(--font-md);
	height: var(--spacing-10);
	padding: 0 var(--spacing-4);
}
.drac-input.drac-input-lg {
	font-size: var(--font-lg);
	height: var(--spacing-12);
	padding: 0 var(--spacing-6);
}
.drac-input.drac-input-border-sm {
	border-width: 0.1rem;
}
.drac-input.drac-input-border-md {
	border-width: 0.2rem;
}
.drac-input.drac-input-border-lg {
	border-width: 0.3rem;
}
.drac-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: var(--blackSecondary);
	border: 0.3rem solid transparent;
	border-radius: var(--rounded-lg);
	box-sizing: border-box;
	color: var(--white);
	outline: none;
	position: relative;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.drac-select:before {
	background-color: #fff;
	border-style: solid;
	border-width: 0.25rem 0.25rem 0 0;
	content: '';
	display: inline-block;
	height: 0.45rem;
	left: 0.15rem;
	left: 0;
	position: relative;
	top: 0.15rem;
	transform: rotate(-45deg);
	transform: rotate(45deg);
	vertical-align: top;
	width: 0.45rem;
}
.drac-select:focus {
	border-color: var(--white);
}
.drac-select::-moz-placeholder {
	color: var(--blackTernary);
}
.drac-select::placeholder {
	color: var(--blackTernary);
}
.drac-select:disabled {
	background: var(--blackTernary);
	color: var(--black);
	cursor: not-allowed;
	opacity: 0.5;
}
.drac-select-outline:disabled {
	color: var(--white);
}
.drac-select-outline,
.drac-select-outline:disabled {
	background: transparent;
	border-color: var(--blackTernary);
}
.drac-select-arrow {
	align-items: center;
	display: inline-flex;
	height: 100%;
	justify-content: center;
	pointer-events: none;
	position: absolute;
	right: var(--spacing-2);
	top: 50%;
	transform: translateY(-50%);
	width: var(--spacing-8);
	z-index: 2;
}
.drac-select-arrow svg {
	fill: currentColor;
	height: 3.6rem;
	width: 3.6rem;
}
.drac-select:disabled + .drac-select-arrow {
	color: var(--black);
}
.drac-select-outline:disabled + .drac-select-arrow {
	color: var(--white);
	opacity: 0.5;
}
.drac-select-outline.drac-select-black,
.drac-select-outline.drac-select-black:focus,
.drac-select.drac-select-black:focus {
	border-color: var(--black);
}
.drac-select-outline.drac-select-white,
.drac-select-outline.drac-select-white:focus,
.drac-select.drac-select-white:focus {
	border-color: var(--white);
}
.drac-select-outline.drac-select-cyan,
.drac-select-outline.drac-select-cyan:focus,
.drac-select.drac-select-cyan:focus {
	border-color: var(--cyan);
}
.drac-select-outline.drac-select-green,
.drac-select-outline.drac-select-green:focus,
.drac-select.drac-select-green:focus {
	border-color: var(--green);
}
.drac-select-outline.drac-select-orange,
.drac-select-outline.drac-select-orange:focus,
.drac-select.drac-select-orange:focus {
	border-color: var(--orange);
}
.drac-select-outline.drac-select-pink,
.drac-select-outline.drac-select-pink:focus,
.drac-select.drac-select-pink:focus {
	border-color: var(--pink);
}
.drac-select-outline.drac-select-purple,
.drac-select-outline.drac-select-purple:focus,
.drac-select.drac-select-purple:focus {
	border-color: var(--purple);
}
.drac-select-outline.drac-select-red,
.drac-select-outline.drac-select-red:focus,
.drac-select.drac-select-red:focus {
	border-color: var(--red);
}
.drac-select-outline.drac-select-yellow,
.drac-select-outline.drac-select-yellow:focus,
.drac-select.drac-select-yellow:focus {
	border-color: var(--yellow);
}
.drac-select.drac-select-sm {
	font-size: var(--font-sm);
	height: var(--spacing-8);
}
.drac-select {
	font-size: var(--font-md);
	height: var(--spacing-10);
	padding-left: var(--spacing-4);
	padding-right: var(--spacing-8);
}
.drac-select.drac-select-lg {
	font-size: var(--font-lg);
	height: var(--spacing-12);
}
.drac-anchor {
	text-decoration: none;
}
.drac-text-black\--hover:hover {
	color: var(--black);
}
.drac-text-black-secondary--hover:hover {
	color: var(--blackSecondary);
}
.drac-text-white\--hover:hover {
	color: var(--white);
}
.drac-text-white-secondary--hover:hover {
	color: var(--whiteSecondary);
}
.drac-text-cyan\--hover:hover {
	color: var(--cyan);
}
.drac-text-cyan-secondary--hover:hover {
	color: var(--cyanSecondary);
}
.drac-text-green\--hover:hover {
	color: var(--green);
}
.drac-text-green-secondary--hover:hover {
	color: var(--greenSecondary);
}
.drac-text-orange\--hover:hover {
	color: var(--orange);
}
.drac-text-orange-secondary--hover:hover {
	color: var(--orangeSecondary);
}
.drac-text-pink\--hover:hover {
	color: var(--pink);
}
.drac-text-pink-secondary--hover:hover {
	color: var(--pinkSecondary);
}
.drac-text-purple\--hover:hover {
	color: var(--purple);
}
.drac-text-purple-secondary--hover:hover {
	color: var(--purpleSecondary);
}
.drac-text-red\--hover:hover {
	color: var(--red);
}
.drac-text-red-secondary--hover:hover {
	color: var(--redSecondary);
}
.drac-text-yellow\--hover:hover {
	color: var(--yellow);
}
.drac-text-yellow-secondary--hover:hover {
	color: var(--yellowSecondary);
}
.drac-text-purple-cyan\--hover:hover {
	background-image: linear-gradient(var(--gradientDegree), var(--purple) 0, var(--cyan) 100%);
}
.drac-text-purple-cyan\--hover:hover,
.drac-text-yellow-pink\--hover:hover {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-size: 100%;
}
.drac-text-yellow-pink\--hover:hover {
	background-image: linear-gradient(var(--gradientDegree), var(--yellow) 0, var(--pink) 100%);
}
.drac-text-cyan-green\--hover:hover {
	background-image: linear-gradient(var(--gradientDegree), var(--cyan) 0, var(--green) 100%);
}
.drac-text-cyan-green\--hover:hover,
.drac-text-pink-purple\--hover:hover {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-size: 100%;
}
.drac-text-pink-purple\--hover:hover {
	background-image: linear-gradient(var(--gradientDegree), var(--pink) 0, var(--purple) 100%);
}
:root {
	--subtle-avatar-shadow: inset 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}
.drac-avatar {
	align-items: center;
	border-style: solid;
	border-width: 1px;
	display: flex;
	height: 4.4rem;
	justify-content: center;
	text-transform: uppercase;
	width: 4.5rem;
}
.drac-avatar,
.drac-avatar-background {
	border-radius: var(--rounded-full);
	box-sizing: border-box;
}
.drac-avatar-background {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: 'inline-block';
	height: 100%;
	width: 100%;
}
.drac-avatar-lg-stroke {
	border-width: 3px;
}
.drac-avatar-no-border {
	border-width: 0;
	box-shadow: var(--subtle-avatar-shadow);
}
.drac-avatar-subtle {
	box-shadow: var(--subtle-avatar-shadow);
	filter: grayscale(100%);
}
.drac-avatar .drac-text {
	text-transform: uppercase;
	transform: translateY(1px);
}
.drac-checkbox,
.drac-radio {
	--active-inner: var(--white);
	--background: var(--white);
	--disabled: var(--blackSecondary);
	--disabled-inner: var(--blackTernary);
	--local-bg-color: var(--border-hover);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid var(--local-bg-color, var(--border));
	cursor: pointer;
	display: inline-block;
	height: 21px;
	margin: 0;
	outline: none;
	position: relative;
	transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	vertical-align: top;
}
.drac-checkbox:after,
.drac-radio:after {
	content: '';
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	transition: transform var(--local-transform-speed, 0.3s) var(--local-transform-effect, ease),
		opacity var(--local-opacity-speed, 0.2s);
}
.drac-checkbox:checked {
	background: var(--local-bg, var(--background));
}
.drac-checkbox:checked,
.drac-radio:checked {
	--local-bg: var(--active);
	--local-bg-color: var(--active);
	--local-opacity-speed: 0.3s;
	--local-transform-speed: 0.6s;
	--local-transform-effect: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.drac-checkbox:disabled,
.drac-radio:disabled {
	--local-bg: var(--disabled);
	cursor: not-allowed;
	opacity: 0.9;
}
.drac-checkbox:disabled:checked,
.drac-radio:disabled:checked {
	--local-bg: var(--disabled-inner);
	--local-bg-color: var(--border);
}
.drac-checkbox:disabled + label,
.drac-radio:disabled + label {
	cursor: not-allowed;
}
.drac-checkbox:focus,
.drac-radio:focus {
	box-shadow: 0 0 0 var(--focus);
}
.drac-checkbox:not(.drac-switch),
.drac-radio:not(.drac-switch) {
	width: 21px;
}
.drac-checkbox:not(.drac-switch):after,
.drac-radio:not(.drac-switch):after {
	opacity: var(--local-opacity, 0);
}
.drac-checkbox:not(.drac-switch):checked,
.drac-radio:not(.drac-switch):checked {
	--local-opacity: 1;
}
.drac-checkbox + label,
.drac-radio + label {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	margin-left: 4px;
	vertical-align: top;
}
.drac-checkbox:not(.drac-switch) {
	border-radius: 7px;
}
.drac-checkbox:not(.drac-switch):after {
	border: 2px solid var(--black);
	border-left: 0;
	border-top: 0;
	height: 9px;
	left: 6px;
	top: 2px;
	transform: rotate(var(--local-rotation, 20deg));
	width: 5px;
}
.drac-checkbox:not(.drac-switch):checked {
	--local-rotation: 43deg;
}
.drac-checkbox.drac-switch {
	border-radius: 11px;
	width: 38px;
}
.drac-checkbox.drac-switch:after {
	background: var(--ab, var(--active-inner));
	border-radius: 50%;
	height: 15px;
	left: 2px;
	top: 2px;
	transform: translateX(var(--x, 0));
	width: 15px;
}
.drac-checkbox.drac-switch:checked {
	--ab: var(--active);
	--x: 17px;
	background: none;
}
.drac-checkbox.drac-switch:disabled:not(:checked):after {
	opacity: 0.6;
}
.drac-radio {
	border-radius: 50%;
}
.drac-radio:after {
	background: var(--local-bg-color);
	border-radius: 50%;
	height: 19px;
	opacity: 0;
	transform: scale(var(--scale));
	width: 19px;
}
.drac-radio:disabled:checked:after {
	background: var(--disabled-inner);
}
.drac-radio:checked {
	--scale: 0.8;
}
.drac-checkbox-black,
.drac-radio-black,
.drac-switch-black {
	--active: var(--black);
	--focus: var(--blackSecondary);
	--border: var(--blackSecondary);
	--border-hover: var(--black);
}
.drac-checkbox-white,
.drac-radio-white,
.drac-switch-white {
	--active: var(--white);
	--focus: var(--whiteSecondary);
	--border: var(--whiteSecondary);
	--border-hover: var(--white);
}
.drac-checkbox-cyan,
.drac-radio-cyan,
.drac-switch-cyan {
	--active: var(--cyan);
	--focus: var(--cyanSecondary);
	--border: var(--cyanSecondary);
	--border-hover: var(--cyan);
}
.drac-checkbox-green,
.drac-radio-green,
.drac-switch-green {
	--active: var(--green);
	--focus: var(--greenSecondary);
	--border: var(--greenSecondary);
	--border-hover: var(--green);
}
.drac-checkbox-orange,
.drac-radio-orange,
.drac-switch-orange {
	--active: var(--orange);
	--focus: var(--orangeSecondary);
	--border: var(--orangeSecondary);
	--border-hover: var(--orange);
}
.drac-checkbox-pink,
.drac-radio-pink,
.drac-switch-pink {
	--active: var(--pink);
	--focus: var(--pinkSecondary);
	--border: var(--pinkSecondary);
	--border-hover: var(--pink);
}
.drac-checkbox-purple,
.drac-radio-purple,
.drac-switch-purple {
	--active: var(--purple);
	--focus: var(--purpleSecondary);
	--border: var(--purpleSecondary);
	--border-hover: var(--purple);
}
.drac-checkbox-red,
.drac-radio-red,
.drac-switch-red {
	--active: var(--red);
	--focus: var(--redSecondary);
	--border: var(--redSecondary);
	--border-hover: var(--red);
}
.drac-checkbox-yellow,
.drac-radio-yellow,
.drac-switch-yellow {
	--active: var(--yellow);
	--focus: var(--yellowSecondary);
	--border: var(--yellowSecondary);
	--border-hover: var(--yellow);
}
.drac-scrollbar-grey {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--greyLight);
	--drac-scrollbar-thumb: var(--grey);
	--drac-scrollbar-thumb-hover: var(--greySecondary);
	overflow: auto;
}
.drac-scrollbar-grey::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-grey::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-grey::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-grey::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-grey::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-grey::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-cyan {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--cyanLight);
	--drac-scrollbar-thumb: var(--cyan);
	--drac-scrollbar-thumb-hover: var(--cyanSecondary);
	overflow: auto;
}
.drac-scrollbar-cyan::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-cyan::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-cyan::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-cyan::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-cyan::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-cyan::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-green {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--greenLight);
	--drac-scrollbar-thumb: var(--green);
	--drac-scrollbar-thumb-hover: var(--greenSecondary);
	overflow: auto;
}
.drac-scrollbar-green::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-green::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-green::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-green::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-green::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-green::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-orange {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--orangeLight);
	--drac-scrollbar-thumb: var(--orange);
	--drac-scrollbar-thumb-hover: var(--orangeSecondary);
	overflow: auto;
}
.drac-scrollbar-orange::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-orange::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-orange::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-orange::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-orange::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-orange::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-pink {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--pinkLight);
	--drac-scrollbar-thumb: var(--pink);
	--drac-scrollbar-thumb-hover: var(--pinkSecondary);
	overflow: auto;
}
.drac-scrollbar-pink::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-pink::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-pink::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-pink::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-pink::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-pink::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-purple {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--purpleLight);
	--drac-scrollbar-thumb: var(--purple);
	--drac-scrollbar-thumb-hover: var(--purpleSecondary);
	overflow: auto;
}
.drac-scrollbar-purple::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-purple::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-purple::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-purple::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-purple::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-purple::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-red {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--redLight);
	--drac-scrollbar-thumb: var(--red);
	--drac-scrollbar-thumb-hover: var(--redSecondary);
	overflow: auto;
}
.drac-scrollbar-red::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-red::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-red::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-red::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-red::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-red::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-scrollbar-yellow {
	--drac-scrollbar-bg: transparent;
	--drac-scrollbar-border: var(--yellowLight);
	--drac-scrollbar-thumb: var(--yellow);
	--drac-scrollbar-thumb-hover: var(--yellowSecondary);
	overflow: auto;
}
.drac-scrollbar-yellow::-webkit-scrollbar {
	background-color: var(--drac-scrollbar-bg);
	height: 1.4rem;
	width: 1.4rem;
}
.drac-scrollbar-yellow::-webkit-scrollbar-track:horizontal {
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-yellow::-webkit-scrollbar-track:vertical {
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-yellow::-webkit-scrollbar-corner {
	background-color: transparent;
	border-left: 0.0625rem solid var(--drac-scrollbar-border);
	border-top: 0.0625rem solid var(--drac-scrollbar-border);
}
.drac-scrollbar-yellow::-webkit-scrollbar-thumb {
	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	background-color: var(--drac-scrollbar-thumb);
	border: 0.4rem solid transparent;
	border-radius: 1rem;
	min-height: 3rem;
	min-width: 3rem;
}
.drac-scrollbar-yellow::-webkit-scrollbar-thumb:hover {
	background-color: var(--drac-scrollbar-thumb-hover);
}
.drac-card {
	background-color: var(--accentColor);
	border-radius: var(--rounded-lg);
	box-shadow: -2px var(--glow-spacing-x) var(--glow-spacing-y) var(--glowColor);
}
.drac-card-subtle {
	background: none;
	border-style: solid;
	border-width: 2px;
	box-shadow: none;
}
.drac-tabs {
	border-bottom: 1px solid var(--disabled);
	display: inline-flex;
	list-style: none;
	padding: 0;
}
.drac-tab {
	padding: var(--spacing-sm) 0;
	position: relative;
}
.drac-tab,
.drac-tab:after {
	transition: all 0.2s ease-in-out;
}
.drac-tab:after {
	background: transparent;
	bottom: -1px;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	transform: scaleX(0.75);
	width: 100%;
}
.drac-tab-link {
	color: var(--disabled);
	padding: var(--spacing-sm);
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}
.drac-tab:hover .drac-tab-link {
	color: var(--white);
}
.drac-tabs-black .drac-tab-active:after {
	background: var(--black);
	transform: scaleX(1);
}
.drac-tabs-black .drac-tab-active .drac-tab-link {
	color: var(--black);
}
.drac-tabs-white .drac-tab-active:after {
	background: var(--white);
	transform: scaleX(1);
}
.drac-tabs-white .drac-tab-active .drac-tab-link {
	color: var(--white);
}
.drac-tabs-cyan .drac-tab-active:after {
	background: var(--cyan);
	transform: scaleX(1);
}
.drac-tabs-cyan .drac-tab-active .drac-tab-link {
	color: var(--cyan);
}
.drac-tabs-green .drac-tab-active:after {
	background: var(--green);
	transform: scaleX(1);
}
.drac-tabs-green .drac-tab-active .drac-tab-link {
	color: var(--green);
}
.drac-tabs-orange .drac-tab-active:after {
	background: var(--orange);
	transform: scaleX(1);
}
.drac-tabs-orange .drac-tab-active .drac-tab-link {
	color: var(--orange);
}
.drac-tabs-pink .drac-tab-active:after {
	background: var(--pink);
	transform: scaleX(1);
}
.drac-tabs-pink .drac-tab-active .drac-tab-link {
	color: var(--pink);
}
.drac-tabs-purple .drac-tab-active:after {
	background: var(--purple);
	transform: scaleX(1);
}
.drac-tabs-purple .drac-tab-active .drac-tab-link {
	color: var(--purple);
}
.drac-tabs-red .drac-tab-active:after {
	background: var(--red);
	transform: scaleX(1);
}
.drac-tabs-red .drac-tab-active .drac-tab-link {
	color: var(--red);
}
.drac-tabs-yellow .drac-tab-active:after {
	background: var(--yellow);
	transform: scaleX(1);
}
.drac-tabs-yellow .drac-tab-active .drac-tab-link {
	color: var(--yellow);
}
.drac-table {
	border-collapse: collapse;
	border-color: var(--accentColor);
	width: 100%;
}
.drac-table th {
	font-weight: 500;
	padding-bottom: 0.2rem;
	text-align: left;
	text-transform: uppercase;
}
.drac-table td {
	border-color: var(--disabled);
	border-style: solid;
	border-width: 0.1rem;
	padding: 0.5rem;
}
.drac-table.drac-table-black td {
	border-color: var(--black);
}
.drac-table-striped.drac-table-black tr:nth-child(2n) {
	background-color: var(--blackLight);
}
.drac-table.drac-table-white td {
	border-color: var(--white);
}
.drac-table-striped.drac-table-white tr:nth-child(2n) {
	background-color: var(--whiteLight);
}
.drac-table.drac-table-cyan td {
	border-color: var(--cyan);
}
.drac-table-striped.drac-table-cyan tr:nth-child(2n) {
	background-color: var(--cyanLight);
}
.drac-table.drac-table-green td {
	border-color: var(--green);
}
.drac-table-striped.drac-table-green tr:nth-child(2n) {
	background-color: var(--greenLight);
}
.drac-table.drac-table-orange td {
	border-color: var(--orange);
}
.drac-table-striped.drac-table-orange tr:nth-child(2n) {
	background-color: var(--orangeLight);
}
.drac-table.drac-table-pink td {
	border-color: var(--pink);
}
.drac-table-striped.drac-table-pink tr:nth-child(2n) {
	background-color: var(--pinkLight);
}
.drac-table.drac-table-purple td {
	border-color: var(--purple);
}
.drac-table-striped.drac-table-purple tr:nth-child(2n) {
	background-color: var(--purpleLight);
}
.drac-table.drac-table-red td {
	border-color: var(--red);
}
.drac-table-striped.drac-table-red tr:nth-child(2n) {
	background-color: var(--redLight);
}
.drac-table.drac-table-yellow td {
	border-color: var(--yellow);
}
.drac-table-striped.drac-table-yellow tr:nth-child(2n) {
	background-color: var(--yellowLight);
}
.drac-table.drac-table-striped tr:nth-child(2n) {
	background-color: var(--whiteLight);
}
.drac-list {
	list-style: none;
}
.drac-list-unordered li:before {
	content: '—';
	padding-right: 10px;
}
.drac-list-ordered {
	counter-reset: li;
}
.drac-list-ordered-lower-alpha {
	--type: lower-alpha;
}
.drac-list-ordered-upper-alpha {
	--type: upper-alpha;
}
.drac-list-ordered-lower-roman {
	--type: lower-roman;
}
.drac-list-ordered-upper-roman {
	--type: upper-roman;
}
.drac-list-ordered-decimal {
	--type: decimal;
}
.drac-list-ordered li {
	counter-increment: li;
	margin-left: -30px;
}
.drac-list-ordered li:before {
	color: var(--accentColor);
	content: counter(li, var(--type, decimal)) '.';
	display: inline-block;
	margin-left: 15px;
	padding-right: 5px;
	text-align: right;
	width: 30px;
}
.drac-list-black.drac-list-ordered li:before,
.drac-list-black.drac-list-unordered li:before {
	color: var(--black);
}
.drac-list-blackSecondary.drac-list-ordered li:before,
.drac-list-blackSecondary.drac-list-unordered li:before {
	color: var(--blackSecondary);
}
.drac-list-white.drac-list-ordered li:before,
.drac-list-white.drac-list-unordered li:before {
	color: var(--white);
}
.drac-list-cyan.drac-list-ordered li:before,
.drac-list-cyan.drac-list-unordered li:before {
	color: var(--cyan);
}
.drac-list-green.drac-list-ordered li:before,
.drac-list-green.drac-list-unordered li:before {
	color: var(--green);
}
.drac-list-orange.drac-list-ordered li:before,
.drac-list-orange.drac-list-unordered li:before {
	color: var(--orange);
}
.drac-list-pink.drac-list-ordered li:before,
.drac-list-pink.drac-list-unordered li:before {
	color: var(--pink);
}
.drac-list-purple.drac-list-ordered li:before,
.drac-list-purple.drac-list-unordered li:before {
	color: var(--purple);
}
.drac-list-red.drac-list-ordered li:before,
.drac-list-red.drac-list-unordered li:before {
	color: var(--red);
}
.drac-list-yellow.drac-list-ordered li:before,
.drac-list-yellow.drac-list-unordered li:before {
	color: var(--yellow);
}
.drac-list-none {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
/*# sourceMappingURL=dracula-ui.css.map */
